.versus-selection{
	display: flex;
	align-items: center;

	.mw-selection{
		button{
			font-weight: 600;
		}
	}

	.vs{
		display: inline-block;
		padding: 0 1rem;
		font-weight: 600;
	}

	.add{
		background: #fff;
		box-shadow: 0 8px 10px -10px #babfc7;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #666;
		font-weight: 600;
		outline: none;
		display: inline-block;
		margin: 0 1rem;
		padding: 0;
	}
}