.product-statistics-title{
	padding: 3rem 15px 1rem;
	font-size: 18px;
    color: #545454;
    font-weight: 500;

    .mw-comparision{
    	display: inline-block;
    	margin-left: 15px;

    	span:first-child{
    		color: rgb(115, 103, 240);
    	}
    }
}

.product-statistics{
	/*.pie-chart-wrapper{
		max-width: 300px;
		margin: auto;
	}*/
}