.user-item{
	.mw-tb-row{
		align-items: center;
		display: flex;
		
		span{
			padding: .5rem 0;
			display: flex;
			align-items: center;

			span{
				display: block;

				i{
					font-size: 13px;
					color: #888;
				}

				a{
					color: #333;
					text-decoration: underline;
				}
			}
		}
	}

	.action-group{
		position: relative;
		display: inline-block;

		> button{
			background: #eee;
			border: 0;
			outline: 0;
			color: #666;
			border-radius: 50%;
			width: 35px;
			height: 35px;
			padding: 0;
			text-align: center;
		}

		.action-dropdown{
			position: absolute;
			left: 50%;
			top: 130%;
			z-index: 5;
			width: max-content;
			background: #333;
			border-radius: 5px;
			padding: 5px 0;
			transform: translateX(-50%);

			button{
				background: 0;
				color: #fff;
				border: 0;
				display: block;
				outline: none;
				width: 100%;
				text-align: left;
				padding: 3px 10px;
				font-weight: 600;
				font-size: 14px;
			}

			&::before{
				content: "";
				position: absolute;
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #333;
				top: -3px;
				left: 50%;
				transform: translateX(-50%) rotateZ(45deg);
			}
		}

		.action-overlay{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}
	}

	.status{
		background: #eee;
		border-radius: 25px;
		padding: 3px 10px !important;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;

		&.status-active{
			color: #28c76f;
			background: #c7f4db;
		}

		&.status-inactive{
			color: #ea5455;
			background: #fbdcdc;
		}
	}
}