.product-general-filter{
	padding: 15px 0 0;

	.item{
		display: inline-block;
		min-width: calc(25% - 30px);
		margin-right: 40px;
		margin-bottom: 20px;

		&:last-child{
			margin-right: 0;
		}

		.mw-comparision{
			margin-top: 15px;
		}
	}

	.selection-wrapper{
		position: relative;
		display: inline-block;

		&.active{
			border-bottom: 3px solid #7a6ff0;
		}

		.item-overlay{
			position: absolute;
			top: 0;
			left: -10px;
			right: -10px;
			bottom: 0;
			z-index: 10;
		}

		.dropdown .btn:not(.btn-sm):not(.btn-lg), [dir] .dropdown .btn:not(.btn-sm):not(.btn-lg).dropdown-toggle{
			padding: 0.85rem .6rem 0.85rem 0;
		}
	}
}