.product-transactions-filter{
	margin: 0 0 1rem;

	.mw-selection{
		margin-right: 15px;
	}
}

.product-transactions-title{
	padding: 2rem 15px 1rem;
	font-size: 18px;
    color: #545454;
    font-weight: 500;

    .mw-comparision{
    	display: inline-block;
    	margin-left: 15px;

    	span:first-child{
    		color: rgb(115, 103, 240);
    	}
    }
}

.product-transactions{
	/*.pie-chart-wrapper{
		max-width: 300px;
		margin: auto;
	}*/
}