.child{
	border: 1px solid #ddd;
	border-top-width: 0;
	border-right-width: 0;
	display: inline-block;

	&:last-child{
		/*border-right-width: 1px;*/
	}

	.c-parent{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		width: 100%;
		display: flex;
		border-bottom: 1px solid #ddd;
	}

	.c-child{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		border-right: 1px solid #ddd;

		&:last-child{
			border-right-width: 0;
		}
	}
}

.parent{
	display: inline-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 15px;
	border: 1px solid #ddd;
	border-right-width: 0;
}

.mw-block{
	display: inline-block;
	/*width: 50%;*/
	border-right: 0;

	&:last-child{
		border-right: 1px solid #ddd;
	}
}