.mw-selection{
	display: inline-block;

	.btn-primary{
		border-color: #fff !important;
    	background-color: #fff !important;
    	color: #565656 !important;
    	box-shadow: 0 8px 10px -10px #babfc7;
    	font-weight: 600;

    	&:hover{
    		box-shadow: 0 8px 25px -8px #babfc7;
    	}
	}

	.show > .dropdown-menu{
		min-width: 100%;

		.dropdown-item.selected{
			background: #eee;
		}

		.dropdown-item.custom{
			color: rgba(109, 95, 239, 0.85);
			font-weight: 600;
		}
	}

	&.no-select{
		button{
			padding-right: 0 !important;

			svg{
				display: none;
			}
		}
	}
}