.mw-block{
	display: inline-block;
	border: 1px solid #d5d5d5;
	border-right-width: 0;

	&:last-child{
		border-right-width: 1px;
	}
	
	.child{
		border: 1px dashed #d5d5d5;
		border-width: 0 1px 0 0;
		/*display: inline-block;*/
		width: 100%;

		&:last-child{
			border-right-width: 0;
		}

		.c-parent{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 15px;
			width: 100%;
			display: flex;
			/*border-bottom: 1px solid #ddd;*/
			border: 1px dashed #d5d5d5;
			border-width: 0 0 1px 0;
			white-space: nowrap;

			&:last-child{
				border-right-width: 0;
			}
		}

		.c-child{
			white-space: nowrap;
			justify-content: center;
			align-items: center;
			padding: 15px;
			border-right: 1px dashed #d5d5d5;
			width: 100%;
			text-align: center;

			&:last-child{
				border-right-width: 0;
			}
		}
	}

	.parent{
		text-align: center;
		justify-content: center;
		align-items: center;
		padding: 15px;
		border: 1px dashed #d5d5d5;
		border-width: 0 0 1px 0;
	}
}