.product-markets{
	.mw-tb-cell{
		text-align: center;
		display: block;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border: 1px solid #e5e5e5;
		border-width: 0 0 1px 1px;

		&.no-border{
			border: 0;
			text-align: left;
		}

		&.b-top{
			border-top-width: 1px;
		}

		&:last-child{
			border-right-width: 1px;
		}
	}

	.odd{
		background: #fbfbfb;
		font-style: italic;

		.bold{
			font-style: normal;
		}
	}
}

.titles{
	display: inline-block;
	width: 100px;
	float: left;

	div{
		padding: 15px 0;
		border: 1px solid transparent;
		font-weight: 600;
	}
}

.contents{
	float: right;
	display: inline-block;
	width: calc(100% - 120px)
}