.product-operation-filter{
	margin: 0 0 2rem;

	.mw-selection{
		margin-right: 15px;
	}
}

.product-operation-title{
	padding: 2rem 15px 1rem;
	font-size: 18px;
    color: #888;
    font-weight: 500;

    .mw-comparision{
    	display: inline-block;
    	margin-left: 15px;

    	span:first-child{
    		color: rgb(115, 103, 240);
    	}
    }
}