.mw-comparision {
	font-size: 22px;
	font-weight: bold;

	span {
		&:nth-child(2) {
			font-size: 16px;
			margin-left: 5px;
			color: #28c76f;
			position: relative;
			display: inline-block;

			&.down {
				color: #f40000;
			}

			.mw-cmp-tooltip {
				display: none;
				position: absolute;
				top: 35px;
				left: 50%;
				font-size: 13px;
				background: #4e4e4e;
				border-radius: 5px;
				color: #fff !important;
				font-size: 12px;
				padding: 4px 7px;
				border-radius: 4px;
				font-weight: 500;
				width: max-content;
				transform: translateX(-50%);
				z-index: 100;

				&::before {
					border: 5px solid transparent;
					background: transparent;
					content: '';
					position: absolute;
					left: calc(50% - 2.5px);
					top: -10px;
					border-bottom-color: #4e4e4e;
				}
			}

			&:hover {
				.mw-cmp-tooltip {
					display: inline-block;
				}
			}
		}
	}
}
