.mw-text-section{
	margin: 0 0 2rem;
	font-size: 15px;

	h3{
		font-size: 18px;
		color: #4a4a4a;
		margin: 0 0 1rem;
	}

	.mw-doc-item{
		margin-right: 40px;
		color: #4a4a4a;

		&:last-child{
			margin-right: 0;
		}

		span{
			margin: 0 0 0 .5rem;
			transform: translateY(2px);
			display: inline-block;
			text-decoration: underline;
		}
	}
}