.markets-comparision{
	.apexcharts-legend{
		padding: 20px 0;
	}

	.apexcharts-legend-series{
		margin: 0 30px 0 0 !important; 
	}

	* {
		font-family: unset !important;
	}

	.odd{
		background: #f6f7f8;
	}

	.mw-tb{
		.row{
			padding: .8rem 0;
		}

		.mw-dvdr{
			margin: .5rem 0;
		}

		.mw-tb-label{
			white-space: nowrap;
			
			img{
				height: 12px;
				margin-right: 10px;
			}
		}
	}

	.card-title{
		.mw-selection{
			button{
				padding: 0 !important;
				margin: 0 30px 0 0;
				font-weight: 500;
				font-size: 18px;
				color: #000 !important;
				text-decoration: underline;
			}
		}
	}
}