.total-revenue-extra{
	> h3{
		color: #545454;
		font-size: 18px;
		font-weight: 600;
		padding: 1rem 15px;
	}

	.mw-comparision{
		display: inline-block;
		margin: 0 0 0 1rem;
	}

	.mw-tb-row:not(.bold){
		padding: .8rem 0;
	}
}