.product-item{
	.mw-tb-row{
		span{
			padding: .5rem 0;
			display: flex;
			align-items: center;

			span{
				display: block;

				i{
					font-size: 13px;
					color: #888;
					text-transform: capitalize;
				}

				a{
					color: #333;
					text-decoration: underline;
				}
			}
		}
	}
}