@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";


.app-unauthorized{
	min-height: 100vh;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mw-tb{
	.mw-tb-title{
		padding: 2rem 20px 1rem;

		h3{
			font-size: 18px;
			color: #545454;

			span{
				color: #333;
				font-size: 20px;
				font-weight: 800;
				margin-left: 15px;
			}
		}
	}

	.mw-tb-row{
		display: flex;
		justify-content: space-around;

		&.bold{
			font-weight: 600;
		}
	}

	.mw-dvdr{
		padding: .8rem 0;

		&.line{
			padding: 0;
			margin: 15px 0;
			height: 1px;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	.mw-tb-note{
		font-style: italic;
		font-size: 13px;
		font-weight: 400;
	}

	.mw-tb-label{
		font-weight: 600;
		font-size: 16px;
	}

	.odd{
		background: #f6f7f8;
	}
}

.bold{
	font-weight: 600;
}

.mw-tb-empty{
	border-radius: 5px;
	padding: 15px;
	font-size: 14px;
}

.frm-error {
	color: #f40000;
	display: block;
	padding: 5px 0;
	font-size: 11px;
	font-style: italic;
}

/*.header-navbar-shadow{
	z-index: 9998;
}

.header-navbar{
	z-index: 9999 !important;
}*/