.mw-tab{
	padding: 0 0 1.5rem;

	.btn, .btn:hover{
		margin-right: 10px;
		background: #fff !important;
		color: #888 !important;
	}

	.btn{
		box-shadow: 0 8px 10px -10px #babfc7;
		font-weight: 500;

		&.active{
			border-bottom: 2px solid #7a6ff0 !important;
			color: #7a6ff0 !important;
		}
	}
}